$h1-font-size: 2rem;
$h2-font-size: 1.2rem;
$h3-font-size: 0.8rem;
$h4-font-size: 0.6rem;
$h5-font-size: 0.4rem;
$h6-font-size: 0.2rem;

@import "./node_modules/bootswatch/dist/flatly/variables";
@import "./node_modules/bootstrap-scss/bootstrap";
@import "./node_modules/bootswatch/dist/flatly/bootswatch";

.nav-pills .nav-link {
  display: -webkit-box;

  svg {
    margin: 5px;
  }
}
