$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.2rem;
$h4-font-size: 1rem;
$h5-font-size: 0.6rem;
$h6-font-size: 0.4rem;

@import "./node_modules/bootswatch/dist/flatly/variables";

@import "./node_modules/bootstrap-scss/_functions";
@import "./node_modules/bootstrap-scss/_variables";
@import "./node_modules/bootstrap-scss/_utilities";

$utilities: map-merge(
  $utilities,
  (
    "viewport-height":
      map-merge(
        map-get($utilities, "viewport-height"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "viewport-height"), "values"),
              (
                25: 25vh,
                50: 50vh,
                75: 75vh,
              )
            ),
        )
      ),
  )
);

@import "./node_modules/bootstrap-scss/bootstrap";
@import "./node_modules/bootswatch/dist/flatly/bootswatch";

html,
body {
  font-size: 11px;
  height: 100%;
}

img {
  max-width: 100%;
}

.dropdown-toggle.disabled::after {
  visibility: hidden;
}

.nav-pills .nav-link {
  display: -webkit-box;
  margin-top: 0.5rem;
  padding: 0.5rem;

  svg {
    margin: 5px;
  }

  h2 span {
    vertical-align: middle;
  }
}

.scroll {
  overflow-y: scroll;
}
