name: pre-commit

on:
  push:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: actions/setup-python@v6
        with:
          check-latest: true

      - name: Install pre-commit
        run: python -m pip install pre-commit

      - name: Set up pre-commit
        run: pre-commit install --install-hooks

      - name: Set up terraform
        uses: OJFord/tenv-github-action@main
        with:
          tool_name: terraform

      - name: Install dependencies
        run: |
          wget -qO - 'https://proget.makedeb.org/debian-feeds/prebuilt-mpr.pub' | gpg --dearmor | sudo tee /usr/share/keyrings/prebuilt-mpr-archive-keyring.gpg 1> /dev/null
          echo "deb [arch=all,$(dpkg --print-architecture) signed-by=/usr/share/keyrings/prebuilt-mpr-archive-keyring.gpg] https://proget.makedeb.org prebuilt-mpr $(lsb_release -cs)" | sudo tee /etc/apt/sources.list.d/prebuilt-mpr.list
          sudo apt update
          sudo apt-get install -y libnotmuch-dev
          sudo apt-get install -y just
          # Tauri pre-reqs
          sudo apt-get install -y libwebkit2gtk-4.1-dev

      - name: Run pre-commit hooks
        run: pre-commit run --all-files
